.title-knowledge {
  text-align: center;
  padding: 6px;
  color: #fffbda;
}

.skill {
  display: flex;
  justify-content: center;
  /* Para acomodar los cuadros */
  flex-wrap: wrap;
  align-content: space-between;
  padding: 10px;
  /*border: 1px solid red;*/
}


.skill-image img{
  padding: 30px;
  margin: 30px;
  /*border: 1px solid red; */

}